@font-face {
  font-family: 'Rigatoni-Regular';
  src: url('/fonts/Rigatoni-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rigatoni-Light';
  src: url('/fonts/Rigatoni-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rigatoni-Bold';
  src: url('/fonts/Rigatoni-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BG-Light';
  src: url('/fonts/BastardoGrotesk-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BG-Regular';
  src: url('/fonts/BastardoGrotesk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BG-Bold';
  src: url('/fonts/BastardoGrotesk-Semibold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BG-Thin';
  src: url('/fonts/BastardoGrotesk-Thin.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}


html,
body {
  margin: 0;
  padding: 0;
  @media (min-width: 768px) {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    height: 100%;
    overflow-y: scroll;
  }
}
