.heroContainer {
  position: relative;
  height: 425px;
  overflow: hidden;
  scroll-behavior: smooth;

  /* Cartoon bubble look */
  background: #fff;
  border: 6px solid #f9fd5d;
  border-radius: 40px;
  /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); */
  z-index: 2;
  width: 100%;
}

.frog {
  width: 70px;
  position: absolute;
  right: -95px;
  top: 102%;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-family: 'BG-Light';
}

.controlButton {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: none;
  border: none;
  font-family: 'BG-Thin';
  font-weight: lighter;
  padding: 8px 20px 12px 20px;
  font-size: 16px;
}

.controlSpacer {
  width: 8px;
  height: 30px;
}

.heroScrollerContainer {
  overflow: visible;
  position: relative;
  max-width: 850px;
  margin: 0 auto;
}

.productList {
  width: 95%;
  padding-top: 25px;
  padding-bottom: 12px;
  background-color: #4e483c;
  margin: auto;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productItem {
  margin: 0 12px;
  position: relative;
}

.productPrice {
  font-family: 'Rigatoni-Light';
  text-align: left;
  letter-spacing: 0.03em;
  position: absolute;
  border-radius: 100%;
  background-color: #f9fd5d;
  color: #4e483c;
  padding: 15px 6px;
  font-size: 8px;
  left: 75%;
  top: -12px;
}

.productItemContainer {
width: 80%;
margin: auto;
}

.productImage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f3ce;
  border-radius: 25px;
  margin-bottom: 10px;
}

.productImage img {
  max-width: 70%;
  padding: 25px 0;
  object-fit: contain;
  display: block;
  margin: auto;
}

.productCopy {

}

.productTitle {
  font-family: 'Rigatoni-Regular';
  color: #f8f3ce;
  font-size: 24px;
  text-align: left;
  margin: 0;
  font-size: 18px;
  border-bottom: 1px solid #f9fd5d;
  line-height: 35px;
  padding-bottom: 2px;
}

.productDescription {
  font-family: 'BG-Thin';
  color: #f8f3ce;
  font-size: 12px;
  text-align: left;
  margin-top: 7px;
  line-height: 12px;
  font-size: 11px;
  letter-spacing: 0.03em;
}

.heroScrollerContainer::after {
  content: "";
  background-image: url('/speechArrow.png');
  position: absolute;
  background-size: cover;
  width: 59px;
  height: 50px;
  left: 95%;
  top: 89%;
}

.imageSection {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productSection {
  width: 100%;
  height: 100%;
  background-color: #f9fd5d;

  h2 {
    color: #4e483c;
    text-align: left;
    margin: 0;
    padding-left: 58px;
    font-family: 'Rigatoni-Light';
    font-size: 60px;
    margin-bottom: 15px;
  }
}

.aboutSection {
  width: 100%;
  height: 100%;
  background-color: #f9fd5d;
}

.aboutContainer {
  width: 75%;
  margin: auto;
  background-color: #f9fd5d;
  h2 {
    color: #4e483c;
    text-align: left;
    margin: 0;
    border-bottom: 5px solid #4e483c;
    font-family: 'Rigatoni-Light';
    letter-spacing: 0.05em;
    padding-bottom: 10px;
    font-size: 57px;
  }

  p {
    color: #4e483c;
    text-align: left;
    margin-top: 7px;
    font-family: 'BG-Thin';
    line-height: 21px;
    font-size: 15px;
  }

  mark {
    background-color: #4e483c;
    color: #fff;
    padding: 1px;
  }
}
