.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 2s linear;
}

.mainModule {
  width: 100%;
  padding: 20px;
}

.footer {
    color: #f8f3ce;
    max-width: 800px;
    text-align: center;
    font-family: 'BG-Regular';
    font-size: 10px;
    opacity: 0.5;
    width: 66%;
    line-height: 12px;
    margin: 0 auto;
  }