.headerImageContainer {
  display: flex;
  justify-content: center;
  animation: hueRotateAnim 200s ease infinite;
}

@keyframes hueRotateAnim {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.footer {
    background-color: #4e483c;
    color: #f8f3ce;
    padding: 20px 0;
    text-align: center;
    font-family: 'BG-Thin';
    font-size: 10px;
    letter-spacing: 0.05em;
    opacity: 0.5;
    width: 80%;
    margin: 0 auto;
  }