@keyframes hueRotateAnim {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.footer {
    background-color: #4e483c;
    color: #f8f3ce;
    max-width: 800px;
    text-align: center;
    font-family: 'BG-Regular';
    font-size: 10px;
    opacity: 0.5;
    width: 66%;
    line-height: 12px;
    margin: 0 auto;
  }