.headerImageContainer {
  width: 50%;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 15px;
}

.imageCarouselContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fd5d;
}

.controlButton {
  border-radius: 30px;
  box-shadow: none;
  border: none;
  font-family: 'BG-Thin';
  font-weight: lighter;
  padding: 4px 20px 8px;
  font-size: 16px;
  width: 85px;
  margin: 10px 10px;
  display: block !important;
  padding: 4px 0 8px;
  transition: all 2s linear;
}

.heroContainer {
  background: #fff;
  border: 7px solid #f9fd5d;
  border-radius: 55px;
  height: 320px;
  width: 85%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 25px;
}

.productSection {
  margin-bottom: 18px;

  h2 {
    color: #f8f3ce;
    text-align: center;
    margin: 0;
    font-family: 'Rigatoni-Light';
    margin-bottom: 18px;
    font-size: 36px;
    font-weight: normal;
  }
}

.aboutSection {
  margin-bottom: 18px;

  h2 {
    color: #f8f3ce;
    text-align: center;
    margin: 0;
    font-family: 'Rigatoni-Light';
    margin-bottom: 18px;
    font-size: 36px;
    font-weight: normal;
  }

  p {
    color: #4e483c;
    text-align: center;
    margin-top: 7px;
    font-family: 'BG-Thin';
    line-height: 21px;
    font-size: 15px;
    padding: 0 20px;
    margin: 10px auto;
  }

  mark {
    background-color: #4e483c;
    color: #fff;
    padding: 1px;
  }
}

.productList {
  padding: 15px;
}

.signup {
    color: #f8f3ce;
    font-family: 'Rigatoni-Light';
    letter-spacing: 2px;
    font-size: 12px;
    padding-left: 12px;
    margin-top: 16px;
}

.signupContainer {
    display: block;
    margin: 0 auto;
    max-width: 750px;
    width: 80%;
    text-align: center;
    font-weight: lighter;
}

.emailInputContainer {
    background-color: #f9fd5d;
    transition: all 0.5s ease;
    border: none;
    padding-top: 4px;
    padding-bottom: 8px;
    font-size: 16px;
    border-radius: 75px;
    margin-top: 10px;
    text-align: left;
    box-sizing: border-box;
    position: relative;
    margin-top: 16px;
    height: 50px;
  }

  .emailInput {
    background: none;
    border: none;
    margin-left: 14px;
    font-size: 14px;
    font-family: 'BG-Light';
    font-size: 18px;

    &::placeholder {
      color: black;
    }
  }

  .signupButton {
    position: absolute;
    font-family: 'BG-Light';
    font-size: 18px;
    right: 16px;
    border: none;
    background: none;
    text-decoration: none;
    color: black;
    height: 31px;
    top: 6px;

    &:hover {
      cursor: pointer;
    }
  }